* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #00594D;
  font-weight: bold;
  height: 10rem;
  padding-right: 5rem;
}

.navbar-toggler {
  height: 3.5rem;
  width: 3.5rem;
  font-weight: bold;
}

.logo-header {
  margin: 3rem;
}

.imagen-header {
  width: 17.5rem;
  height: 3.5rem;
}

.nav-link {
  font-size: 1.8rem;
  margin: 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-jaja {
  background-color: #C88A3D;
  height: 100vw;
}

.parrafo-nosotros {
  font-size: 2rem;
}

.parrafo-servicios {
  font-size: 2rem;
}

.card {
  font-size: 5rem;
}

.flex-container {
  display: flex;
}
.img-card {
  width: 8rem;
  height: 25rem;
}

